<!DOCTYPE html>
<html>
<head>
	<title>Convert Image to Text</title>
</head>
<body>

	<div class= "text-center"><br><br>
		<h1>Upload your Image Below</h1>

		<form method=POST enctype="multipart/form-data">
			<input type="file" class= "btn btn-dark" name="photo"><br><br>
			<input id="input" type="text" class="form-control" placeholder="enter the name of your image" name= "img-name"><br><br>
			<input class="btn btn-dark" type="submit">

		</form>

	</div>
</body>


<style>
	#input{
		margin:auto;
		width:auto;
	}

	

</style>
</html>